<?xml version="1.0" encoding="UTF-8"?>  
<beans xmlns="http://www.springframework.org/schema/beans"  
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
       xmlns:aop="http://www.springframework.org/schema/aop"  
       xmlns:context="http://www.springframework.org/schema/context" 
       xmlns:tx="http://www.springframework.org/schema/tx"  
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="  
           http://www.springframework.org/schema/aop   
           http://www.springframework.org/schema/aop/spring-aop-4.0.xsd  
           http://www.springframework.org/schema/beans   
           http://www.springframework.org/schema/beans/spring-beans-4.0.xsd  
           http://www.springframework.org/schema/data/jpa   
           http://www.springframework.org/schema/data/jpa/spring-jpa-1.3.xsd  
           http://www.springframework.org/schema/tx   
           http://www.springframework.org/schema/tx/spring-tx-4.0.xsd  
           http://www.springframework.org/schema/context   
           http://www.springframework.org/schema/context/spring-context-4.0.xsd">  
  	
  	<context:annotation-config />
	
	<context:component-scan base-package="com.habuma.spitter" />
	
<!-- 
	<bean id="spitterRmiRemoteService" 
	      class="org.springframework.remoting.rmi.RmiProxyFactoryBean"
	      p:serviceUrl="rmi://localhost/SpitterRmiRemoteService"
	      p:serviceInterface="com.habuma.spitter.remote.service.ISpitterRemoteService" /> 	
	      
  	<bean id="spitterHessionRemoteService" 
     	  class="org.springframework.remoting.caucho.HessianProxyFactoryBean"
   		  p:serviceUrl="http://localhost:8080/spitter.hessian.service"
   		  p:serviceInterface="com.habuma.spitter.remote.service.ISpitterRemoteService" />   	  
   		  
  	<bean id="spitterBurlapRemoteService" 
     	  class="org.springframework.remoting.caucho.BurlapProxyFactoryBean"
   		  p:serviceUrl="http://localhost:8080/spitter.burlap.service"
   		  p:serviceInterface="com.habuma.spitter.remote.service.ISpitterRemoteService" />     		      

  	<bean id="spitterHttpInvokerRemoteService" 
     	  class="org.springframework.remoting.httpinvoker.HttpInvokerProxyFactoryBean"
   		  p:serviceUrl="http://localhost:8080/spitter.httpinvoker.service"
   		  p:serviceInterface="com.habuma.spitter.remote.service.ISpitterRemoteService" />    
 -->
 
 	<bean id="jaxwsRemoteService" class="org.springframework.remoting.jaxws.JaxWsPortProxyFactoryBean"
		  p:wsdlDocumentUrl="http://localhost:8888/webservices/SpitterWebService?wsdl"
		  p:serviceName="SpitterWebService"
		  p:portName="SpitterWebServiceEndpointPort"
		  p:serviceInterface="com.habuma.spitter.remote.service.ISpitterRemoteService"
		  p:namespaceUri="http://service.remote.spitter.habuma.com/"
		  /> 

 	<bean id="jaxwsRemoteService2" class="org.springframework.remoting.jaxws.JaxWsPortProxyFactoryBean"
		  p:wsdlDocumentUrl="http://localhost:8888/webservices/SpitterRemoteService?wsdl"
		  p:serviceName="SpitterRemoteService"
		  p:portName="SpitterRemoteServiceImplPort"
		  p:serviceInterface="com.habuma.spitter.remote.service.ISpitterRemoteService"
		  p:namespaceUri="http://service.remote.spitter.habuma.com/"
		  /> 
		  	
	<!-- Uses the delegated Entry Point AccountServiceEndpoint-->	  
	<bean id="accountService" class="org.springframework.remoting.jaxws.JaxWsPortProxyFactoryBean"
		  p:wsdlDocumentUrl="http://localhost:8888/webservices/AccountService?wsdl"
		  p:serviceName="AccountService"
		  p:portName="AccountServiceEndpointPort"
		  p:serviceInterface="org.shangyang.remote.service.IAccountService"
		  p:namespaceUri="http://service.remote.shangyang.org/"
		  />
		   			   		  
	<!-- Uses the direct Entry Point AccountServiceImpl-->
	<bean id="accountService2" class="org.springframework.remoting.jaxws.JaxWsPortProxyFactoryBean"
		  p:wsdlDocumentUrl="http://localhost:8888/webservices/AccountService2?wsdl"
		  p:serviceName="AccountService2"
		  p:portName="AccountServiceImplPort"
		  p:serviceInterface="org.shangyang.remote.service.IAccountService"
		  p:namespaceUri="http://service.remote.shangyang.org/"
		  />
 	
</beans>        